@import "win98.css";

.footer{
    width: 100%;
    height: 3.5vh;
    min-height: 20px;
    background: var(--boxColor);
    border-top: 2px solid var(--borderTL);
    border-bottom: 2px solid var(--borderBR);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "MS Sans Serif", sans-serif;
    font-size: 12px;
    color: var(--textColor);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer span {
    flex-grow: 1;
    text-align: center;
}

.footer-button {
    background: #c0c0c0;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    box-shadow: inset -2px -2px #808080, inset 2px 2px #fff;
    padding: .5em 1em;
    font-family: Tahoma;
    text-decoration: none;
    color: var(--textColor);
    cursor: pointer;
    font-size: 1em;
    justify-self: right;
}

.footer-button:hover {
    background: #808080;
}

.footer-button:active {
    box-shadow: inset 2px 2px #808080, inset -2px -2px #fff;
}