/* Navbar Styles */
@import "win98.css";


.navbar {
    background: var(--boxColor);
    color: var(--textColor);
    font-weight: bold;
    display: flex;
    padding: 1rem 2%;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 10vh;
    min-height: 50px; 
    border-bottom: 2px solid var(--borderBR);
    border-top: 2px solid var(--borderTL);
    box-sizing: border-box; 
}

.navbar-title{
    font-family: Tahoma;
    font-size: 1.5em;
    position: absolute;
    left: 2%;
}

.navbar-buttons {
    display: flex;
    font-family: Tahoma;
    gap: 1em;
}

.navbar-button {
    background: var(--boxColor);
    border-right: 2px solid var(--borderBR);
    border-bottom: 2px solid var(--borderBR);
    border-left: 2px solid var(--borderTL);
    border-top: 2px solid var(--borderTL);
    box-shadow: inset -2px -2px var(--botInset), inset 2px 2px var(--topInset);
    padding: .5em 1em;
    font-family: Tahoma;
    text-decoration: none;
    color: var(--textColor);
    cursor: pointer;
    font-size: 1em;
}

.menu-image {
    display: none;
    width: 2em;
    height: 2em;
    cursor: pointer;
}


.navbar-button:hover {
    background: #808080;
}

.navbar-button:active {
    box-shadow: inset 2px 2px #808080, inset -2px -2px #fff;
}

.linkedin-icon {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

.navbar-user {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.user-email {
    font-size: 1.1em;
    color: #000;
    padding: 0 5px;
    max-width: 150em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: center;
    margin: 0;
}