/*
@Author: Lee Eagle

Windows 98 styling
https://plaza.one/
*/

/*Control for Browser auto margins*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures consistent box sizing */
}

:root {
    /*Variables*/
    --textColor: #e6e6e6;
    --boxColor: #414141;
    --borderTL: #a1a1a1;
    --borderBR: #000;
    --botInset: #1b1b1b;
    --topInset: #919191;

}

body {
    height: 100vh;
    background-color: #c46900;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    color: var(--textColor);
}

title {
    display: none;
}

.window {
    width: 80vw;
    height: 86vh;
    max-height: 87vh;
    border-right: 2px solid var(--borderBR);
    border-bottom: 2px solid var(--borderBR);
    border-left: 2px solid var(--borderTL);
    border-top: 2px solid var(--borderTL);
    box-shadow: inset -2px -2px #808080, inset 2px 2px #fff;
    background-color: var(--boxColor);
    box-shadow: 4px 4px var(--borderBR);
    padding: 10px;
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    position: static;
    flex-direction: column;
    overflow-y: auto;
}

.title-bar {
    background: linear-gradient(to right, #170080, #c010d0);
    color: var(--textColor);
    font-weight: bold;
    font-family: Tahoma;
    display: flex;
    padding: 4px;
    font-size: min(4vh, 24px);
    justify-content: center;
    min-height: 6vh;
    align-items: center;
}


.window-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    max-height: 50vh;
    overflow: hidden;
    gap: 2vh;

}

.window-column{
    flex: 1;
    padding: 10px;
    height: 100%;
}

.window-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding: 20px;
}

.text-column{
    text-align: justify;
    display: block;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
    justify-content: center;
}

.project-first-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.text-column p{
    margin-bottom: 1rem;
}

.image-column{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.profile-image{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border: 2px solid #000;
    box-shadow: inset -2px -2px #808080, inset 2px 2px #fff;
}

.fun-fact{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.button {
    background: #c0c0c0;
    border-right: 2px solid var(--borderBR);
    border-bottom: 2px solid var(--borderBR);
    border-left: 2px solid var(--borderTL);
    border-top: 2px solid var(--borderTL);
    box-shadow: inset -2px -2px #808080, inset 2px 2px #fff;
    padding: 4px 10px;
    text-decoration: none;
    color: var(--textColor);
    cursor: pointer;
}

.button:hover {
    background: #c0c0c0;
}

.button:active {
    box-shadow: inset 2px 2px #808080, inset -2px -2px #fff;
}